@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$orange: #EC9B3B;
$pink: #D81B60;
$red: #d03636;
$green: #0e9e0e;
$greenlight: #dff0d8;
$blue: #4FACFF;
$grey: #4c4f4f;
$white: #ffffff;

.bgcustom{background-image: url('/images/bg/bg-space.jpg');}

*, *:before, *:after {
    box-sizing: border-box;
}

select.form-control, select.form-control:focus{
    padding-left:10px;
    border: 1px solid #ccc;
    color:#7b809a;
}
body{
    background:$white;
    color:$grey;
}
.panel{
    border:0;
    box-shadow: none;
}
.panel-body{
    padding-top:0;
}

.wrapper {
    padding-top: 0px !important;
    padding-bottom: 40px;
}
.slide-container {
    margin: auto;
    text-align: center;
}

.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

&:focus {
     outline: 0;
 }
}


.clash-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
}

.clash-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

.clash-card__noimage {
    position: relative;
    height: 60px;
    margin-bottom: 5px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

.clash-card__image--barbarian {
    background: url('/images/barbarian-bg.jpg');
img {
    width: 400px;
    position: absolute;
    top: -65px;
    left: -70px;
}
}

.clash-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}

.clash-card__level--barbarian {
    color: $pink;
}

.clash-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
    padding-left:5px;
    padding-right:5px;
}

.clash-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
    background: $orange;

    .one-third {
        border-right: 1px solid #BD7C2F;
    }
}

.clash-card__unit-stats {

    color: white;
    font-weight: 700;
    border-bottom-left-radius: $border-radius-size;
    border-bottom-right-radius: $border-radius-size;

.one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
}

sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}

.stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

.stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.no-border {
    border-right: none;
}
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.slick-prev {
    left: 100px;
    z-index: 999;
}

.slick-next {
    right: 100px;
    z-index: 999;
}

#cardwords{list-style:none;text-align:left;max-width:300px;margin:auto;}


.btn-primary{
    color:#fff;
    background-color: $pink;
    border-color: $pink;
}

#score{
    padding: 10px;
    height: 20px;
}
.steph3{float:right;}
.pointer {cursor:pointer;}
.table.tablewolf td{
    white-space: inherit;
}
#cardname{font-weight:bold;}

#chrono,#chrono2 {font-size:40px;display:block;width:100%;fill:#fff;}
.timer{top:35px;}
.timer {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.timer .rotate {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
}
.timer .rotate #timeloader {
    fill: #4c4f4f;
}
.timer .rotate #timeloader.hurryup{fill:#d03636;}
.timer .dots {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    border: 2px solid #fff;
    border-radius: 75px;
}
.timer .dots .time {
    height: 100%;
    width: 6%;
    display: block;
    background-image: -moz-linear-gradient(#BD7C2F, #BD7C2F 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #BD7C2F 84%, #BD7C2F);
    background-image: -webkit-linear-gradient(#BD7C2F, #BD7C2F 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #BD7C2F 84%, #BD7C2F);
    background-image: linear-gradient(#BD7C2F, #BD7C2F 16%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 84%, #BD7C2F 84%, #BD7C2F);
    margin-left: -3%;
    left: 50%;
    position: absolute;
}
.timer .dots .time.deg45 {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.timer .dots .time.deg90 {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.timer .dots .time.deg135 {
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nbcards{border:0;margin:0;padding:0;width: initial;height:initial;}
#cancel {margin:auto;font-size:30px;display:block;padding:8px;height:50px;max-width:50px;width:50px;border-radius:120px;border:0px;color:$red;}
#cancel:hover{color:$red;background:#fff;}
#validate {margin:auto;font-size:30px;display:block;padding:8px;height:50px;max-width:50px;width:50px;border-radius:120px;border:0px;color:$green;background: none}
#validate:hover{color:$green;background:#fff;}
#btn_pause {margin:auto;font-size:30px;display:block;padding:8px;height:50px;max-width:50px;width:50px;border-radius:120px;border:0px;color:$grey;background: none}
#btn_pause:hover{color: $grey;background:#fff;}
#button3rd {margin:auto;font-size:30px;display:block;padding:8px;height:50px;max-width:50px;width:50px;border-radius:120px;border:0px;color:#fff;background: none}

.list-group-item-warning{background-color:$red !important;color:#fff !important;}
.list-group-item-sucess{background-color:$greenlight !important;color:$green !important;}


#footer{
    margin-top:0px;
    color:#fff;
    background:$pink;
    /*position:fixed;*/
    bottom:0px;
    margin-right: auto;
    margin-left: auto;
    height:50px;
    padding-top:15px;
    width:100%;
    text-align:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer a{
    color:#fff;
    cursor:pointer;
}
